<!DOCTYPE html>
<!-- TODO: Make responsive
     TODO: Fix list overflow issue and styling-->
<html>
  <head>
    <title>Account Status</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <article class="grid">
      <header class="grid">
        <div class="title-container">
          <h1>Account Statuses</h1>
        </div>
      </header>
      <main class="content grid" id="home-content">
        <div class="content-title-container">
          <h2 v-if="fromData == null">Loading...</h2>
          <h2 v-if="fromData != null">Accounts</h2>
        </div>
        <section class="grid" id="account-grid">
          <section class="account-column grid" id="active-account-column">
            <div class="account-container-title" id="active-account-container-title">
              <h3>Active</h3>
            </div>
            <div
                    v-for="user in active"
                    class="account-container active-account">
              <ul class="account-data-list">
                <li><label>Name:</label>{{user.LastName}}, {{user.FirstName}}</li>
                <li><label>Email:</label>{{user.Email}}</li>
                <li><label>Phone Number:</label>{{user.PhoneNumber | asPhoneNumber}}</li>
                <li><label>Amount Due:</label>{{user.AmountDue | asPrice}}</li>
                <li v-if="user.PaymentDueDate != null"><label>Due Date:</label>{{user.PaymentDueDate | asDate}}</li>
              </ul>
            </div>     
          </section>
          <section class="account-column grid" id="overdue-account-column">
            <div class="account-container-title" id="overdue-account-container-title">
              <h3>Overdue</h3>
            </div>
            <div
                    v-for="user in overdue"
                    class="account-container overdue-account">
              <ul class="account-data-list">
                <li><label>Name:</label>{{user.LastName}}, {{user.FirstName}}</li>
                <li><label>Email:</label>{{user.Email}}</li>
                <li><label>Phone Number:</label>{{user.PhoneNumber | asPhoneNumber}}</li>
                <li><label>Amount Due:</label>{{user.AmountDue | asPrice}}</li>
                <li v-if="user.PaymentDueDate != null"><label>Due Date:</label>{{user.PaymentDueDate | asDate}}</li>
              </ul>
            </div>
          </section>
          <div class="account-column grid" id="inactive-account-column">
            <div class="account-container-title" id="inactive-account-container-title">
              <h3>Inactive</h3>
            </div>
            <div
                    v-for="user in inactive"
                    class="account-container inactive-account">
              <ul class="account-data-list">
                <li><label>Name:</label>{{user.LastName}}, {{user.FirstName}}</li>
                <li><label>Email:</label>{{user.Email}}</li>
                <li><label>Phone Number:</label>{{user.PhoneNumber | asPhoneNumber}}</li>
                <li><label>Amount Due:</label>{{user.AmountDue | asPrice}}</li>
                <li v-if="user.PaymentDueDate != null"><label>Due Date:</label>{{user.PaymentDueDate | asDate}}</li>
              </ul>
            </div>
          </div>
        </section>
      </main>
      <script src="index.js"></script>
      <footer class="grid">
        <p class="copy">&copy;<script>document.write(new Date().getFullYear())</script></p>
      </footer>
    </article>
  </body>
</html>